scrapy-selenium
future
kafka-python<2 # ImportError: No module named common
retrying
redis<3 # AttributeError: 'float' object has no attribute 'iteritems'
jsonschema
python-json-logger
ConcurrentLogHandler

python-redis-lock

scrapy<1.7 # ImportError: cannot import name settings
tldextract
PyYAML
ujson
kazoo
